/* Contacto */
.container_contacto {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2%;
  
    .contact {
      flex: 1;
    }
  
    .div-map {
      flex: 1;
    }
  
    button {
      color: #090909;
      padding: 0.7em 1.7em;
      font-size: 13px;
      border-radius: 0.5em;
      background: #e8e8e8;
      cursor: pointer;
      border: 1px solid #e8e8e8;
      transition: all 1s;
      box-shadow: 6px 6px 12px #333333, -6px -6px 12px #000000;
    }
  
    button:active {
      color: #666;
      box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    }
  }