@charset "UTF-8";
/* Ajustes generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aplicando un bucle para asignar colores desde un map */
header {
  background-color: #2b2c2b;
}

footer {
  background-color: rgba(116, 116, 116, 0.9803921569);
}

nav {
  background-color: rgba(87, 87, 87, 0.3215686275);
}

/* Ajustes de grid para la estructura general */
.container {
  display: grid;
  grid-template-areas: "header main footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/* Estilos del header */
header {
  grid-area: header;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  position: relative;
}
header .logo {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 115px;
  border-radius: 50%;
}
header .Nombre_tienda {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Menú de navegación */
nav {
  border-radius: 30px;
}
nav .navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navbar-toggler {
  background-color: #2b2c2b !important;
  border-color: #ffffff !important;
}
nav .navbar-toggler:hover {
  background-color: #121212;
  border-color: white;
}
nav .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
nav ul {
  list-style: none;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  margin-right: 15px;
}
nav ul li a {
  color: #cecece;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 1px ridge #ffffff;
  padding: 0.4rem;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3rem;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
nav ul li a::after, nav ul li a::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
  transform-origin: center;
}
nav ul li a::after {
  top: -10px;
  left: 3%;
  background-color: transparent;
}
nav ul li a::before {
  top: 80%;
  left: 3%;
  background-color: transparent;
}
nav ul li a:hover::before, nav ul li a:hover::after {
  transform: scale(0);
}
nav ul li a:hover {
  box-shadow: inset 0px 0px 25px #666666;
}
nav ul li.hover_li:hover a {
  background-color: #ffffff;
  color: #2b2c2b;
}

/* Estilos del main */
h1 {
  background-color: rgba(128, 128, 128, 0);
}

.titulo_destacados {
  font-family: fantasy;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(128, 128, 128, 0);
  /* Bucle para generar diferentes estilos de tarjetas */
}
section .card:nth-child(1) {
  border: 2px solid rgba(154, 154, 154, 0);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
section .card:nth-child(2) {
  border: 2px solid rgba(179, 179, 179, 0);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
section .card:nth-child(3) {
  border: 2px solid rgba(205, 205, 205, 0);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
section .card {
  margin: 8px;
  flex: 1 1 calc(18rem + 16px); /* Ajusta el ancho para que se adapte dinámicamente */
  max-width: 18rem; /* Asegura que las tarjetas no se expandan demasiado */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
section .card .card-body {
  padding: 10px;
  text-align: left;
}
section .card img {
  width: 100%;
  position: relative;
  height: 100%;
  border: 3px ridge #000000;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 0.3s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
section .card img::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
  transform-origin: center;
}
section .card img::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
}
section .card img:hover::before, section .card button:hover::after {
  transform: scale(0);
}
section .card img:hover {
  box-shadow: inset 0px 0px 25px #000000;
}
section .btn-primary {
  color: #ffffff;
  background-color: #131313;
  border: solid white;
}
section .btn-primary:hover {
  background-color: #303030;
  border: solid rgb(0, 0, 0);
}

/* Contacto */
.container_contacto {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2%;
}
.container_contacto .contact {
  flex: 1;
}
.container_contacto .div-map {
  flex: 1;
}
.container_contacto button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 13px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 1s;
  box-shadow: 6px 6px 12px #333333, -6px -6px 12px #000000;
}
.container_contacto button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

/* Estilos del footer */
footer {
  grid-area: footer;
  color: rgba(255, 255, 255, 0.9803921569);
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
footer .contact_logos {
  margin: 0 10px;
  position: relative;
  left: 45%;
}

@media (max-width: 1024px) {
  .container {
    padding: 10px;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin-bottom: 10px;
  }
  .contact_logos {
    top: auto;
    left: auto;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 5px;
  }
  header {
    padding: 10px;
  }
  nav ul li {
    margin-right: 0;
  }
  .Nombre_tienda {
    font-size: 18px;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
  footer p, footer a {
    font-size: 14px;
  }
}/*# sourceMappingURL=estilo.css.map */