@charset "UTF-8";
/* Ajustes generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ajustes de grid para la estructura general */
.container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/* Estilos del header */
header {
  grid-area: header;
  background-color: #2b2c2b;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  position: relative;
}
header .logo {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 115px;
  border-radius: 50%;
}
header .Nombre_tienda {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Menú de navegación */
.navbar-collapse {
  justify-content: center;
}

.navbar-toggler {
  background-color: #2b2c2b !important;
  border-color: #ffffff !important;
}
.navbar-toggler:hover {
  background-color: #424242;
  border-color: #9b9b9b;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

nav ul {
  list-style: none;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(87, 87, 87, 0.3215686275);
  border-radius: 10px;
}
nav ul li {
  margin-right: 15px;
}
nav ul li a {
  color: #cecece;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
}
nav ul li.hover_li:hover a {
  background-color: #ffffff;
  color: #2b2c2b;
}

/* Estilos del main */
section {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}
section .card {
  margin: 8px;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
section .card img {
  width: 100%;
  height: auto;
}
section .card .card-body {
  padding: 10px;
  text-align: left;
}

/* Contacto */
.container_contacto {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.container_contacto .contact {
  flex: 1;
}
.container_contacto .div-map {
  flex: 1;
}

/* Estilos del footer */
footer {
  grid-area: footer;
  background-color: rgba(116, 116, 116, 0.9803921569);
  color: rgba(255, 255, 255, 0.9803921569);
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
footer .contact_logos {
  margin: 0 10px;
  position: relative;
  left: 45%;
}

/* Media Queries para adaptabilidad */
@media (max-width: 1024px) {
  .container {
    padding: 10px;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin-bottom: 10px;
  }
  .contact_logos {
    top: auto;
    left: auto;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 5px;
  }
  header {
    padding: 10px;
  }
  nav ul li {
    margin-right: 0;
  }
  .Nombre_tienda {
    font-size: 18px;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
  footer p, footer a {
    font-size: 14px;
  }
}/*# sourceMappingURL=estilo.css.map */